@import "tailwindcss";

.bg-custom {
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  background-image: url("./assets/shipfight.jpg"); /* Replace with your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Keeps it static when scrolling */
  min-height: 100vh; /* Ensures at least full screen height */
}

.bg-wave {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='0.2' d='M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  animation: wave 10s ease-in-out infinite;
}
